.scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(
      137.77deg,
      rgba(38, 35, 116, 0.5) 14.68%,
      rgba(49, 47, 97, 0.973) 86.56%
    );
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.38),
      inset -6px -7px 10px rgba(0, 0, 0, 0.56),
      inset 4px 5px 8px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
  }

  .firstLineClosed{
    margin-bottom: 3px;
    
  }
  .secondLineClosed{
    margin-top: 3px;
  }
  .firstLineOpen{
    margin-top: -3px;
    transform: rotate(45deg);
    margin-right: 4px;

  }

  .secondLineOpen{
    margin-top: -3px;
    transform: rotate(-45deg);
    margin-right: 4px;
  }


  @-webkit-keyframes drawer-open {
    0%{
      height: 0;
    }
    50%{
      height: 20vh;
    }
    75%{
      height: 25vh;
    }
    90%{
      height: 32vh;
    }
    100%{
      height: 25vh;
    }
  }
  @keyframes drawer-close {
    0%{
      height: 30vh;
    }
    50%{
      height: 15vh;
    }
 
    100%{
      height: 0;
    }
  }
  .drawerOpen {
    min-height: 20vh;
    transition: 0.7s ease ;
  }

  .drawerClose {
    min-height: 0;   
    transition: 0.7s ease ;
  }